/* FeaturePage.module.css */

.styledSection {
  position: relative;
  padding: 60px;
  color: #fff;
  overflow: hidden;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url("/assets/featurebg.webp"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.styledRow {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.reverseRow {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .styledRow {
    flex-direction: column;
  }
}

.styledCol {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.reverseCol {
  text-align: right;
}

.styledCol img {
  max-width: 100%;
  height: auto;
}

.styledCol h2 {
  margin-bottom: 10px;
  /* color: var(--Base-Base-White, #fafafafa); */
  color: #000;
  font-size: 36px;
  font-weight: 600;
  width: 412px;
}

.styledCol p {
  line-height: 1.5;
  color: #000;
  font-size: 16px !important;
  width: 419px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .styledCol {
    text-align: center;
  }

  .styledCol h2 {
    font-size: 22px;
  }

  .styledCol p {
    font-size: 0.9em;
    padding: 6px 12px;
  }
}
